# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/firebase-service-account.json
backend/*firebase*.json

# Frontend
frontend/node_modules/
frontend/dist/

# General
.DS_Store
*.pyc
*.db